# coding: utf-8

"""
    Starburst Enterprise API documentation

    Documentation with details about endpoints and entities.  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from sep_swagger_client.api_client import ApiClient


class AuditLogsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def list_access_logs(self, **kwargs):  # noqa: E501
        """List Starburst built-in access control access logs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_access_logs(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str page_token: Page token
        :param str page_size: Page size
        :param str page_sort: Sorting order
        :param datetime start_date: Start of the log entry timestamp interval to match (inclusive)
        :param datetime end_date: End of the log entry timestamp interval to match (exclusive)
        :param datetime query_id: Query ID for which log entries should be matched
        :return: PaginatedResultAccessLogResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_access_logs_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_access_logs_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_access_logs_with_http_info(self, **kwargs):  # noqa: E501
        """List Starburst built-in access control access logs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_access_logs_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str page_token: Page token
        :param str page_size: Page size
        :param str page_sort: Sorting order
        :param datetime start_date: Start of the log entry timestamp interval to match (inclusive)
        :param datetime end_date: End of the log entry timestamp interval to match (exclusive)
        :param datetime query_id: Query ID for which log entries should be matched
        :return: PaginatedResultAccessLogResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_token', 'page_size', 'page_sort', 'start_date', 'end_date', 'query_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_access_logs" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_sort' in params:
            query_params.append(('pageSort', params['page_sort']))  # noqa: E501
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'query_id' in params:
            query_params.append(('queryId', params['query_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/biac/audit/accessLogs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PaginatedResultAccessLogResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_change_logs(self, **kwargs):  # noqa: E501
        """List Starburst built-in access control change logs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_change_logs(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str page_token: Page token
        :param str page_size: Page size
        :param str page_sort: Sorting order
        :param datetime start_date: Start of the log entry timestamp interval to match (inclusive)
        :param datetime end_date: End of the log entry timestamp interval to match (exclusive)
        :param datetime query_id: Query ID for which log entries should be matched
        :return: PaginatedResultChangeLogResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_change_logs_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_change_logs_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_change_logs_with_http_info(self, **kwargs):  # noqa: E501
        """List Starburst built-in access control change logs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_change_logs_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str page_token: Page token
        :param str page_size: Page size
        :param str page_sort: Sorting order
        :param datetime start_date: Start of the log entry timestamp interval to match (inclusive)
        :param datetime end_date: End of the log entry timestamp interval to match (exclusive)
        :param datetime query_id: Query ID for which log entries should be matched
        :return: PaginatedResultChangeLogResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_token', 'page_size', 'page_sort', 'start_date', 'end_date', 'query_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_change_logs" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_sort' in params:
            query_params.append(('pageSort', params['page_sort']))  # noqa: E501
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'query_id' in params:
            query_params.append(('queryId', params['query_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/biac/audit/changeLogs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PaginatedResultChangeLogResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
