# coding: utf-8

"""
    Starburst Galaxy Public API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from galaxy_swagger_client.api_client import ApiClient


class SchemaDiscoveryServiceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def apply_schema_discovery(self, schema_discovery_id, **kwargs):  # noqa: E501
        """apply_schema_discovery  # noqa: E501

        Execute SQL statements generated by schema discovery  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_schema_discovery(schema_discovery_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str schema_discovery_id: A schema discovery run (required)
        :return: SchemaDiscovery
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apply_schema_discovery_with_http_info(schema_discovery_id, **kwargs)  # noqa: E501
        else:
            (data) = self.apply_schema_discovery_with_http_info(schema_discovery_id, **kwargs)  # noqa: E501
            return data

    def apply_schema_discovery_with_http_info(self, schema_discovery_id, **kwargs):  # noqa: E501
        """apply_schema_discovery  # noqa: E501

        Execute SQL statements generated by schema discovery  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_schema_discovery_with_http_info(schema_discovery_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str schema_discovery_id: A schema discovery run (required)
        :return: SchemaDiscovery
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['schema_discovery_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apply_schema_discovery" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'schema_discovery_id' is set
        if ('schema_discovery_id' not in params or
                params['schema_discovery_id'] is None):
            raise ValueError("Missing the required parameter `schema_discovery_id` when calling `apply_schema_discovery`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'schema_discovery_id' in params:
            path_params['schemaDiscoveryId'] = params['schema_discovery_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['accessToken']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/schemaDiscovery/{schemaDiscoveryId}:apply', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SchemaDiscovery',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_catalog_schema_discovery(self, body, catalog_id, **kwargs):  # noqa: E501
        """create_catalog_schema_discovery  # noqa: E501

        Run schema discovery under catalog, for specified uri. This operation is async and runs in background. It is important to check `status` field to make sure it has completed and results are ready.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_catalog_schema_discovery(body, catalog_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RunSchemaDiscovery body: (required)
        :param str catalog_id: - A catalog - This parameter can be looked up using `name` instead of its Id. Use `name=value` instead of an Id to lookup/search using the `value`. `value` must be encoded ([see RFC](https://www.rfc-editor.org/rfc/rfc3986#section-2.2) including `=`)  (required)
        :return: SchemaDiscovery
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_catalog_schema_discovery_with_http_info(body, catalog_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_catalog_schema_discovery_with_http_info(body, catalog_id, **kwargs)  # noqa: E501
            return data

    def create_catalog_schema_discovery_with_http_info(self, body, catalog_id, **kwargs):  # noqa: E501
        """create_catalog_schema_discovery  # noqa: E501

        Run schema discovery under catalog, for specified uri. This operation is async and runs in background. It is important to check `status` field to make sure it has completed and results are ready.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_catalog_schema_discovery_with_http_info(body, catalog_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RunSchemaDiscovery body: (required)
        :param str catalog_id: - A catalog - This parameter can be looked up using `name` instead of its Id. Use `name=value` instead of an Id to lookup/search using the `value`. `value` must be encoded ([see RFC](https://www.rfc-editor.org/rfc/rfc3986#section-2.2) including `=`)  (required)
        :return: SchemaDiscovery
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'catalog_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_catalog_schema_discovery" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_catalog_schema_discovery`")  # noqa: E501
        # verify the required parameter 'catalog_id' is set
        if ('catalog_id' not in params or
                params['catalog_id'] is None):
            raise ValueError("Missing the required parameter `catalog_id` when calling `create_catalog_schema_discovery`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'catalog_id' in params:
            path_params['catalogId'] = params['catalog_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['accessToken']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/catalog/{catalogId}/schemaDiscovery', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SchemaDiscovery',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_schema_discovery(self, schema_discovery_id, **kwargs):  # noqa: E501
        """get_schema_discovery  # noqa: E501

        Get schema discovery by id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_schema_discovery(schema_discovery_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str schema_discovery_id: A schema discovery run (required)
        :return: SchemaDiscovery
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_schema_discovery_with_http_info(schema_discovery_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_schema_discovery_with_http_info(schema_discovery_id, **kwargs)  # noqa: E501
            return data

    def get_schema_discovery_with_http_info(self, schema_discovery_id, **kwargs):  # noqa: E501
        """get_schema_discovery  # noqa: E501

        Get schema discovery by id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_schema_discovery_with_http_info(schema_discovery_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str schema_discovery_id: A schema discovery run (required)
        :return: SchemaDiscovery
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['schema_discovery_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_schema_discovery" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'schema_discovery_id' is set
        if ('schema_discovery_id' not in params or
                params['schema_discovery_id'] is None):
            raise ValueError("Missing the required parameter `schema_discovery_id` when calling `get_schema_discovery`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'schema_discovery_id' in params:
            path_params['schemaDiscoveryId'] = params['schema_discovery_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['accessToken']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/schemaDiscovery/{schemaDiscoveryId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SchemaDiscovery',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_catalog_schema_discovery(self, catalog_id, **kwargs):  # noqa: E501
        """list_catalog_schema_discovery  # noqa: E501

        Get schema discoveries for catalog. When getting all runs, they won't contain same level of detail as when getting run by its ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_catalog_schema_discovery(catalog_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str catalog_id: - A catalog - This parameter can be looked up using `name` instead of its Id. Use `name=value` instead of an Id to lookup/search using the `value`. `value` must be encoded ([see RFC](https://www.rfc-editor.org/rfc/rfc3986#section-2.2) including `=`)  (required)
        :param bool latest:
        :param str page_token: Pagination Token
        :param int page_size: Page size or 0 for default (current maximum is 100)
        :return: PaginatedSchemaDiscovery
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_catalog_schema_discovery_with_http_info(catalog_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_catalog_schema_discovery_with_http_info(catalog_id, **kwargs)  # noqa: E501
            return data

    def list_catalog_schema_discovery_with_http_info(self, catalog_id, **kwargs):  # noqa: E501
        """list_catalog_schema_discovery  # noqa: E501

        Get schema discoveries for catalog. When getting all runs, they won't contain same level of detail as when getting run by its ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_catalog_schema_discovery_with_http_info(catalog_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str catalog_id: - A catalog - This parameter can be looked up using `name` instead of its Id. Use `name=value` instead of an Id to lookup/search using the `value`. `value` must be encoded ([see RFC](https://www.rfc-editor.org/rfc/rfc3986#section-2.2) including `=`)  (required)
        :param bool latest:
        :param str page_token: Pagination Token
        :param int page_size: Page size or 0 for default (current maximum is 100)
        :return: PaginatedSchemaDiscovery
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['catalog_id', 'latest', 'page_token', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_catalog_schema_discovery" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'catalog_id' is set
        if ('catalog_id' not in params or
                params['catalog_id'] is None):
            raise ValueError("Missing the required parameter `catalog_id` when calling `list_catalog_schema_discovery`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'catalog_id' in params:
            path_params['catalogId'] = params['catalog_id']  # noqa: E501

        query_params = []
        if 'latest' in params:
            query_params.append(('latest', params['latest']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['accessToken']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/catalog/{catalogId}/schemaDiscovery', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PaginatedSchemaDiscovery',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
